<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p>Price per night: <%= @flat.price_per_night %></p>
<p>Number of Guests: <%= @flat.number_of_guests %></p>


<br><br><br>

<p><%= link_to "Edit information", edit_flat_path(@flat) %></p>
<p><%= link_to "Back to list", flats_path %></p>
